.header {
  width: 100%;
  background: url("../../assets/book.jpg");
  background-position: 0%;
  height: 8rem;
  color: white;
  border: 10px black;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  font-size: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  @media (max-width: 664px) {
    height: 14rem;
  }
}

.search input {
  outline: 0;
  border: 0;
  height: 35px;
  padding: 0 0.5rem;
  font-size: 15px;
  font-weight: bold;

  @media (pointer:coarse) {
    width: 80vw;
  }

  @media (pointer: fine) {
    width: 40vw;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  @media (max-width: 664px) {
    flex-direction: column;
  }
}

.search button {
  background-color: white;
  outline: none;
  border: none;
  height: 35px;
  padding: 0 0.5rem;
}

select {
  margin: 4px;
  height: 30px;
  width: 150px;
}

.searchContainer {
  height: 20vh;
}