/* .resultZone {
    width: 98vw;
    margin: auto; 
    margin-left: 16px; 
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
    grid-gap: 20px;
    box-sizing: border-box;
  } */

  .foundText {
    text-align: center;
    margin: 10px;
    font-size: 20px;
  }
  
  .more {
    padding: 12px;
    height: 50px;
    width: 180px;
    color: black;
    margin: auto;
    font-size: 30px;
    background-color: rgb(218, 226, 233);
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid rgb(189, 197, 203);
    margin-top: 12px;
  }
  
  .resultZone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    margin-top: 20px;
  }