.bookpage {
  display: flex;
  height: 80vh;
  @media (max-width: 728px) {
    display: block;
  }
}

.bookImage {
  background-color: aliceblue;
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 728px) {
    width: 100%;
    text-align: center;
  }
}

.bookImage img {
  width: 80%;
  height: 80%;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 30px;
  width: 60vw;
}

.backButton {
  height: 50px;
  width: 140px;
  color: black;
  font-size: 30px;
  background-color: rgb(218, 226, 233);
  border-radius: 5px;
  margin-bottom: 16px;
  border: 1px solid rgb(189, 197, 203);
}

.infoCategory {
  margin-bottom: 24px;
}

.infoName {
  margin-bottom: 20px;
}

.infoAuthor {
  margin-bottom: 36px;
}

.infoDescription {
  margin-right: 10px;
  outline: 1px solid rgb(205, 209, 211);
  outline-offset:16px;
}
