.bookpage {
  display: flex;
  height: 80vh;

  @media (max-width: 664px) {
    display: block;
  }
}

.bookImage {
  background-color: aliceblue;
  width: 35vw;
  height: 82vh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 664px) {
    width: 100%;
    text-align: center;
  }
}

.bookImage img {
  width: 80%;
  height: 80%;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 30px;
  width: 55vw;

  @media (max-width: 664px) {
    align-items: center;
    width: 85vw;
    margin-left: 30px;
  }
}

.backButton {
  height: 50px;
  width: 140px;
  color: black;
  font-size: 30px;
  background-color: rgb(218, 226, 233);
  border-radius: 5px;
  margin-bottom: 16px;
  border: 1px solid rgb(189, 197, 203);
}

.infoCategory {
  margin-bottom: 24px;
}

.infoName {
  margin-bottom: 20px;
}

.infoAuthor {
  margin-bottom: 36px;
}

.infoDescription {
  outline: 1px solid #cdd1d3;
  outline-offset: 16px;
  @media (max-width: 664px) {
    max-height: 10vh;
  }
}