.header {
  grid-area: header;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  background:url('D:/Приколы на JavaScript/Modsen Practice/Book/modsen-practice/public/book.jpg') no-repeat;
  background-position: 0%;
  background-size: 1500px;
  color:whitesmoke  ;
}

.container {
  width: 41%;
  display: flex;
  flex-direction:row;
}

.filters {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 10px;
  align-items: center;
}

.bookName {
  width: 100%;
  font-size: 25px;
  resize: none;
}

select {
  margin: 5px;
  width: 200px;
  height: 40px;
  font-size: 20px;
  color: gray;
}

p {
  font-size: 20px;
}

button {
  background-color: white;
  height: 35px;
}