.book-container {
  border: 1px solid #ccc;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: aliceblue;
  position: relative;
}

.book-container img {
  align-self: center;
  width: 100px;
}

.book-category {
  font-size: 14px;
  margin-top: 10px;
  text-decoration: underline;
}