.book-container {
  width: 300px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: rgb(190, 205, 215);
  position: relative;
}

a {
  align-self: center;
}

.book-category {
  font-size: 14px;
  margin-top: 10px;
  text-decoration: underline;
}

img {
  height: 200px;
}