.bookContainer {
  width: 15rem;
  /* height: 18rem; */
  border: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(218, 226, 233);
  position: relative;
  border-radius: 0.3rem;
}

.bookAuthor {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bookCategory {
  font-size: 14px;
  margin-top: 10px;
  text-decoration: underline;
}

.bookName {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.containerImage {
  width: 12rem;
  height: 18rem;
  align-self: center;
}

img {
  height: 100%;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000;
}